<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
  <head>
    <title>xxx小说_xxx小说网</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="xxx小说,xxx小说网" />
    <meta name="description" content="xxx小说致力于打造无广告无弹窗的在线小说阅读网站，提供小说在线阅读，小说TXT下载，网站没有弹窗广告页面简洁。" />
    <link rel="stylesheet" type="text/css" href="./common/app.css" />
    <script type="text/javascript" src="./common/jquery.min.js"></script>
    <script type="text/javascript" src="./common/app.js"></script>
  </head>
  
  <body>
    <div id="wrapper">
      <!--Logo+搜索（公共部分）-->
      <div class="header">
        <div class="header_logo">
          <a href="#">xxx小说</a>
        </div>
        <script>bqg_panel();</script>
      </div>
      <!--Logo+搜索（公共部分）-->
      
      <!--主导航条（公共部分）-->
      <div class="nav">
        <ul>
          <li><a href="./index">首页</a></li>
          <li><a href="./channel">频道页</a></li>
          <li><a href="./chapter">章节页</a></li>
          <li><a href="./detail">详情页</a></li>
          <li><a href="./top">排行榜单</a></li>
          <li><a href="./all">全部小说</a></li>
        </ul>
      </div>
      <!--主导航条（公共部分）-->
      
      <div class="MessageDiv">
        <b>提示：本站收录的全部小说均在此页， 推荐使用Ctrl+F 来查找小说。</b>
      </div>
      <div id="main">
        <div class="novellist">
          <h2>奇幻、玄幻小说大全列表</h2>
          <ul>
            <li th:each="typeA : ${typeANovels}"><a th:href="@{/chapter(novelId=${typeA.id})}" th:text="${typeA.name}"></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      
        <div class="novellist">
          <h2>武侠、仙侠、修真小说大全列表</h2>
          <ul>
            <li th:each="typeB : ${typeBNovels}"><a th:href="@{/chapter(novelId=${typeB.id})}" th:text="${typeB.name}"></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      
        <div class="novellist">
          <h2>言情、都市小说大全列表</h2>
          <ul>
            <li th:each="typeC : ${typeCNovels}"><a th:href="@{/chapter(novelId=${typeC.id})}" th:text="${typeC.name}"></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      
        <div class="novellist">
          <h2>历史、军事、穿越小说大全列表</h2>
          <ul>
            <li th:each="typeD : ${typeDNovels}"><a th:href="@{/chapter(novelId=${typeD.id})}" th:text="${typeD.name}"></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      
        <div class="novellist">
          <h2>游戏、竞技、网游小说大全列表</h2>
          <ul>
            <li th:each="typeE : ${typeENovels}"><a th:href="@{/chapter(novelId=${typeE.id})}" th:text="${typeE.name}"></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      
        <div class="novellist">
          <h2>异灵、科幻小说大全列表</h2>
          <ul>
            <li th:each="typeF : ${typeFNovels}"><a th:href="@{/chapter(novelId=${typeF.id})}" th:text="${typeF.name}"></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
		
		<div class="dahengfu"><script type="text/javascript">ad02();</script></div>
      
    <div class="footer">
      <div class="footer_link"></div>
      <div class="footer_cont">
        <script>
          footer();
          right();
          dl();
        </script>
      </div>
    </div>
  </body>
</html>