<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
  <head>
    <title>xxx小说_xxx小说网</title>
		<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="xxx小说,xxx小说网" />
    <meta name="description" content="xxx小说致力于打造无广告无弹窗的在线小说阅读网站，提供小说在线阅读，小说TXT下载，网站没有弹窗广告页面简洁。" />
    <link rel="stylesheet" type="text/css" href="./common/app.css" />
    <script type="text/javascript" src="./common/jquery.min.js"></script>
    <script type="text/javascript" src="./common/app.js"></script>
  </head>
  
  <body>
    <div id="wrapper">
      <!--Logo+搜索（公共部分）-->
      <div class="header">
        <div class="header_logo">
          <a href="#">xxx小说</a>
      	</div>
      	<script>bqg_panel();</script>
      </div>
      <!--Logo+搜索（公共部分）-->
      
      <!--主导航条（公共部分）-->
      <div class="nav">
      	<ul>
      		<li><a href="./index">首页</a></li>
      		<li><a href="./channel">频道页</a></li>
      		<li><a href="./chapter">章节页</a></li>
      		<li><a href="./detail">详情页</a></li>
      		<li><a href="./top">排行榜单</a></li>
      		<li><a href="./all">全部小说</a></li>
      	</ul>
      </div>
      <!--主导航条（公共部分）-->
			
			<div id="main">
			  <div id="content">
			    <div id="hotcontent">
			      <div class="ll">
			        <div class="item" th:each="item : ${items}">
			          <div class="image">
			            <a th:href="${item.novelUrl}">
			              <img th:src="${item.img}" th:alt="${item.name}" width="120" height="150" />
			            </a>
			          </div>
						<dl>
							<dt>
								<span th:text="${item.author}">author</span>
								<a th:href="${item.novelUrl}" th:text="${item.name}">name</a>
							</dt>
							<dd th:text="${item.introduction}">intro</dd>
						</dl>
			          <div class="clear">
			          </div>
			        </div>
			        <div class="item">
			          <div class="image">
			            <a href="#">
			              <img src="./common/cover.jpg"
			              alt="我是至尊" width="120" height="150" />
			            </a>
			          </div>
			          <dl>
			            <dt>
			              <span>
			                唐家三少
			              </span>
			              <a href="#">
			                我是至尊
			              </a>
			            </dt>
			            <dd>
			              伴随着魂导科技的进步，斗罗大陆上的人类征服了海洋，又发现了两片大陆。魂兽也随着人类魂师的猎杀无度走向灭亡，沉睡无数年的魂兽之王在星斗大森林最后的净土苏醒，它要带领仅存的族...
			            </dd>
			          </dl>
			          <div class="clear">
			          </div>
			        </div>
			        <div class="item">
			          <div class="image">
			            <a href="#"><img src="./common/cover.jpg" alt="我是至尊" width="120" height="150" /></a>
			          </div>
			          <dl>
			            <dt>
			              <span>天蚕土豆</span>
			              <a href="#">我是至尊</a>
			            </dt>
			            <dd>
			              吾有一口玄黄气，可吞天地日月星。天蚕土豆最新鼎力大作，2017年度必看玄幻小说。...
			            </dd>
			          </dl>
			          <div class="clear">
			          </div>
			        </div>
			        <div class="item">
			          <div class="image">
			            <a href="#"><img src="./common/cover.jpg" alt="我是至尊" width="120" height="150" /></a>
			          </div>
			          <dl>
			            <dt>
			              <span>飞天鱼</span>
			              <a href="#">我是至尊</a>
			            </dt>
			            <dd>
			              八百年前明帝之子张若尘被他的未婚妻池瑶公主杀死一代天骄就此陨落。八百年后张若尘重新活了过来却发现曾经杀死他的未婚妻已经统一昆仑界开辟出第一中央帝国号称“池瑶女皇”。池瑶女...
			            </dd>
			          </dl>
			          <div class="clear"></div>
			        </div>
			        <div class="item">
			          <div class="image">
			            <a href="#"><img src="./common/cover.jpg" alt="我是至尊" width="120" height="150" /></a>
			          </div>
			          <dl>
			            <dt>
			              <span>风凌天下</span>
			              <a href="#">我是至尊</a>
			            </dt>
			            <dd>
			              药不成丹只是毒； 人不成神终成空！ ...... 天道有缺,人间不平；红尘世外，魍魉横行；哀尔不幸,恨而不争；冷眼红尘,无憾今生！ ......
			              时值乱世,群雄并起；烽烟处处,山河破...
			            </dd>
			          </dl>
			          <div class="clear"></div>
			        </div>
			        <div class="item">
			          <div class="image">
			            <a href="#"><img src="./common/cover.jpg" alt="我是至尊" width="120" height="150" /></a>
			          </div>
			          <dl>
			            <dt>
			              <span>宅猪</span>
			              <a href="#">我是至尊</a>
			            </dt>
			            <dd>
			              大墟的祖训说，天黑，别出门。　　大墟残老村的老弱病残们从江边捡到了一个婴儿，取名秦牧，含辛茹苦将他养大。这一天夜幕降临，黑暗笼罩大墟，秦牧走出了家门……　　做个春风中荡漾...
			            </dd>
			          </dl>
			          <div class="clear"></div>
			        </div>
			      </div>
			    </div>
					
			    <div class="dahengfu"><script type="text/javascript">ad01();</script></div>
					
			    <div id="newscontent">
			      <div class="l">
			        <h2>
			          好看的玄幻小说最近更新列表
			        </h2>
			        <ul>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                圣墟
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第1492章 罐天帝
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              辰东
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                龙王传说
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第一千九百八十一章 永冻冰封!
			              </a>
			              (07-30)
			            </span>
			            <span class="s5">
			              唐家三少
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                元尊
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第一千一百一十七章 谋划
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              天蚕土豆
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                万古神帝
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第二千五百二十章 海纳百川,包罗万象
			              </a>
			              (01-18)
			            </span>
			            <span class="s5">
			              飞天鱼
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                我是至尊
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第六百二十二章 大结局 二 终章
			              </a>
			              (11-15)
			            </span>
			            <span class="s5">
			              风凌天下
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                牧神记
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                新书，《临渊行》已经上传
			              </a>
			              (12-15)
			            </span>
			            <span class="s5">
			              宅猪
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                剑来
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第七百章 新酒等旧人
			              </a>
			              (01-18)
			            </span>
			            <span class="s5">
			              烽火戏诸侯
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                斗罗大陆II绝世唐门
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第六百二十二章 大结局（四）
			              </a>
			              (06-21)
			            </span>
			            <span class="s5">
			              唐家三少
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                永夜君王
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                终章 美丽新世界
			              </a>
			              (01-10)
			            </span>
			            <span class="s5">
			              烟雨江南
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                修罗武神
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第四千二百九十章 事情原委
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              善良的蜜蜂
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                都市超级医圣
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第两千七百十八章 棘手
			              </a>
			              (01-18)
			            </span>
			            <span class="s5">
			              断桥残雪
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                全职法师
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第3222章 哪个狐狸精
			              </a>
			              (01-11)
			            </span>
			            <span class="s5">
			              乱
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                万域之王
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第一千八百一十章 异族血变
			              </a>
			              (11-18)
			            </span>
			            <span class="s5">
			              逆苍天
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                太初
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第一千四百八十八章 身前身后并肩行
			              </a>
			              (01-18)
			            </span>
			            <span class="s5">
			              高楼大厦
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                人皇纪
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第二千三百零七章 破局的希望!
			              </a>
			              (01-18)
			            </span>
			            <span class="s5">
			              皇甫奇
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                儒道至圣
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                新书《众神世界》发布！
			              </a>
			              (12-18)
			            </span>
			            <span class="s5">
			              永恒之火
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                伏天氏
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第1601章 紫微宫
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              净无痕
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                九星霸体诀
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第三千四百零二章 生孩子？
			              </a>
			              (01-18)
			            </span>
			            <span class="s5">
			              平凡魔术师
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                太古龙象诀
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第5747章 杀手（6更，求正版订阅）
			              </a>
			              (03-12)
			            </span>
			            <span class="s5">
			              旺仔老馒头
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                无敌剑域
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                新书《一剑独尊》发布！！
			              </a>
			              (10-16)
			            </span>
			            <span class="s5">
			              青鸾峰上
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                永恒圣帝
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第4059章 你是谁？
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              千寻月
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                神印王座
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                新书：斗罗大陆II《绝世唐门》开启
			              </a>
			              (05-28)
			            </span>
			            <span class="s5">
			              唐家三少
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                混沌天帝诀
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第1865章 凌峰之死？（3更）
			              </a>
			              (03-31)
			            </span>
			            <span class="s5">
			              剑轻阳
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                天行战记
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第四百一十八章 会馆
			              </a>
			              (12-23)
			            </span>
			            <span class="s5">
			              七十二编
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                妖神记
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第四百八十五章 守城之战
			              </a>
			              (01-09)
			            </span>
			            <span class="s5">
			              发飙的蜗牛
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                放开那个女巫
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                完本感言
			              </a>
			              (06-04)
			            </span>
			            <span class="s5">
			              二目
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                黑巫师朱鹏
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第一百零六章：全书大结局，青莲之语
			              </a>
			              (12-04)
			            </span>
			            <span class="s5">
			              狂翻的咸鱼2
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                天生就会跑
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                完本感言
			              </a>
			              (03-31)
			            </span>
			            <span class="s5">
			              丧尸舞
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                恶魔就在身边
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                02686 九毒
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              汉宝
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                天神诀
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第3394章 平原相遇
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              太一生水
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                原血神座
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                完本感言
			              </a>
			              (01-18)
			            </span>
			            <span class="s5">
			              缘分0
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                灵剑尊
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第3829章 用之不竭
			              </a>
			              (01-15)
			            </span>
			            <span class="s5">
			              云天空
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                武神主宰
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第2223章 严会长
			              </a>
			              (03-16)
			            </span>
			            <span class="s5">
			              暗魔师
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                战天龙帝
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第两千三百六十四章 底牌齐出
			              </a>
			              (05-12)
			            </span>
			            <span class="s5">
			              天岩
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                完美世界
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                圣墟 外篇一 神朝将崩
			              </a>
			              (05-20)
			            </span>
			            <span class="s5">
			              辰东
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                圣龙图腾
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第1436章 大结局（2）完本感言
			              </a>
			              (01-20)
			            </span>
			            <span class="s5">
			              风青阳
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                寒门崛起
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第一千二百二十七章 粮食隐患
			              </a>
			              (01-17)
			            </span>
			            <span class="s5">
			              朱郎才尽
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                最强医圣
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第两千五百二十六章 给你最后一次机会
			              </a>
			              (10-28)
			            </span>
			            <span class="s5">
			              左耳思念
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                山河阙
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第五十二章 诡异胎记
			              </a>
			              (10-12)
			            </span>
			            <span class="s5">
			              莫念秋
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                不朽龙帝
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                新书《神魔之上》
			              </a>
			              (08-11)
			            </span>
			            <span class="s5">
			              被罚站的豆豆
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                抗日之特战兵王
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                结束感言
			              </a>
			              (10-09)
			            </span>
			            <span class="s5">
			              寂寞剑客
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                平天策
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第八百八十一章 喜忧
			              </a>
			              (08-28)
			            </span>
			            <span class="s5">
			              无罪
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                氪金魔主
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第一千三百五十二章 一波肥
			              </a>
			              (01-15)
			            </span>
			            <span class="s5">
			              凰中鲤
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                雪鹰领主
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                番茄新书《飞剑问道》第一章已经上传！
			              </a>
			              (07-12)
			            </span>
			            <span class="s5">
			              我吃西红柿
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                伊森的奇幻漂流
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                后记
			              </a>
			              (07-15)
			            </span>
			            <span class="s5">
			              冥域天使
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                星空之主
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                543.悲叹的怒火
			              </a>
			              (04-26)
			            </span>
			            <span class="s5">
			              八月飞鹰
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                无敌剑修系统
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第112章 、更大的人生目标
			              </a>
			              (07-06)
			            </span>
			            <span class="s5">
			              圣丁
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                吞天记
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第1828章 吞天（大结局）（1万字）
			              </a>
			              (03-23)
			            </span>
			            <span class="s5">
			              风青阳
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                大逆之门
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第二十五章 照做！
			              </a>
			              (08-11)
			            </span>
			            <span class="s5">
			              知白
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              《
			              <a href="#">
			                纵天神帝
			              </a>
			              》
			            </span>
			            <span class="s3">
			              <a href="#">
			                第3897章 激将
			              </a>
			              (07-08)
			            </span>
			            <span class="s5">
			              仙凰
			            </span>
			          </li>
			        </ul>
			      </div>
			      <div class="r">
			        <h2>
			          好看的玄幻小说
			        </h2>
			        <ul>
			          <li>
			            <span class="s2">
			              <a href="#">
			                圣墟
			              </a>
			            </span>
			            <span class="s5">
			              辰东
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                龙王传说
			              </a>
			            </span>
			            <span class="s5">
			              唐家三少
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                我是至尊
			              </a>
			            </span>
			            <span class="s5">
			              风凌天下
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                全职法师
			              </a>
			            </span>
			            <span class="s5">
			              乱
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                斗罗大陆II绝世唐门
			              </a>
			            </span>
			            <span class="s5">
			              唐家三少
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                修罗武神
			              </a>
			            </span>
			            <span class="s5">
			              善良的蜜蜂
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                恶魔就在身边
			              </a>
			            </span>
			            <span class="s5">
			              汉宝
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                元尊
			              </a>
			            </span>
			            <span class="s5">
			              天蚕土豆
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                武炼巅峰
			              </a>
			            </span>
			            <span class="s5">
			              莫默
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                都市超级医圣
			              </a>
			            </span>
			            <span class="s5">
			              断桥残雪
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                牧神记
			              </a>
			            </span>
			            <span class="s5">
			              宅猪
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                儒道至圣
			              </a>
			            </span>
			            <span class="s5">
			              永恒之火
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                我家后门通洪荒
			              </a>
			            </span>
			            <span class="s5">
			              天地有缺
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                剑来
			              </a>
			            </span>
			            <span class="s5">
			              烽火戏诸侯
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                神藏
			              </a>
			            </span>
			            <span class="s5">
			              打眼
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                万古之王
			              </a>
			            </span>
			            <span class="s5">
			              快餐店
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                完美世界
			              </a>
			            </span>
			            <span class="s5">
			              辰东
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                九星霸体诀
			              </a>
			            </span>
			            <span class="s5">
			              平凡魔术师
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                万古神帝
			              </a>
			            </span>
			            <span class="s5">
			              飞天鱼
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                斗罗大陆
			              </a>
			            </span>
			            <span class="s5">
			              唐家三少
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                一品道门
			              </a>
			            </span>
			            <span class="s5">
			              第九天命
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                最强医圣
			              </a>
			            </span>
			            <span class="s5">
			              左耳思念
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                寒门崛起
			              </a>
			            </span>
			            <span class="s5">
			              朱郎才尽
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                神级大魔头
			              </a>
			            </span>
			            <span class="s5">
			              拉姆
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                黄金渔场
			              </a>
			            </span>
			            <span class="s5">
			              全金属弹壳
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                伊森的奇幻漂流
			              </a>
			            </span>
			            <span class="s5">
			              冥域天使
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                武神主宰
			              </a>
			            </span>
			            <span class="s5">
			              暗魔师
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                永夜君王
			              </a>
			            </span>
			            <span class="s5">
			              烟雨江南
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                神印王座
			              </a>
			            </span>
			            <span class="s5">
			              唐家三少
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                巫师不朽
			              </a>
			            </span>
			            <span class="s5">
			              两只陈洁南
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                秘巫之主
			              </a>
			            </span>
			            <span class="s5">
			              真愚老人
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                斗破苍穹
			              </a>
			            </span>
			            <span class="s5">
			              天蚕土豆
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                灵剑尊
			              </a>
			            </span>
			            <span class="s5">
			              云天空
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                妖神记
			              </a>
			            </span>
			            <span class="s5">
			              发飙的蜗牛
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                每秒都在升级
			              </a>
			            </span>
			            <span class="s5">
			              一起数月亮
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                帝霸
			              </a>
			            </span>
			            <span class="s5">
			              厌笔萧生
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                伏天氏
			              </a>
			            </span>
			            <span class="s5">
			              净无痕
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                巫师纪元
			              </a>
			            </span>
			            <span class="s5">
			              真的老狼
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                还是地球人狠
			              </a>
			            </span>
			            <span class="s5">
			              剑舞秀
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                我从凡间来
			              </a>
			            </span>
			            <span class="s5">
			              想见江南
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                修炼狂潮
			              </a>
			            </span>
			            <span class="s5">
			              傅啸尘
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                妖龙古帝
			              </a>
			            </span>
			            <span class="s5">
			              遥望南山
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                召唤梦魇
			              </a>
			            </span>
			            <span class="s5">
			              滚开
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                万道剑尊
			              </a>
			            </span>
			            <span class="s5">
			              打死都要钱
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                诡秘之主
			              </a>
			            </span>
			            <span class="s5">
			              爱潜水的乌贼
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                大道朝天
			              </a>
			            </span>
			            <span class="s5">
			              猫腻
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                冰与火之魔山
			              </a>
			            </span>
			            <span class="s5">
			              格雷果·魔山
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                大主宰
			              </a>
			            </span>
			            <span class="s5">
			              天蚕土豆
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                独步逍遥
			              </a>
			            </span>
			            <span class="s5">
			              纯情犀利哥
			            </span>
			          </li>
			          <li>
			            <span class="s2">
			              <a href="#">
			                龙符
			              </a>
			            </span>
			            <span class="s5">
			              梦入神机
			            </span>
			          </li>
			        </ul>
			      </div>
			      <div class="clear">
			      </div>
			    </div>
			  </div>
			</div>
    </div>
		
    <div class="dahengfu"><script type="text/javascript">ad02();</script></div>
			
    <div class="footer">
      <div class="footer_link"></div>
      <div class="footer_cont">
        <script>
					footer();
          right();
          dl();
				</script>
      </div>
    </div>
  </body>
</html>