<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
  <head>
    <title>xxx小说_xxx小说网</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="xxx小说,xxx小说网" />
    <meta name="description" content="xxx小说致力于打造无广告无弹窗的在线小说阅读网站，提供小说在线阅读，小说TXT下载，网站没有弹窗广告页面简洁。" />
    <link rel="stylesheet" type="text/css" href="./common/app.css" />
    <script type="text/javascript" src="./common/jquery.min.js"></script>
    <script type="text/javascript" src="./common/app.js"></script>
  </head>
  
  <body>
    <div id="wrapper">
      <!--Logo+搜索（公共部分）-->
      <div class="header">
        <div class="header_logo">
          <a href="#">xxx小说</a>
        </div>
        <script>bqg_panel();</script>
      </div>
      <!--Logo+搜索（公共部分）-->
      
      <!--主导航条（公共部分）-->
      <div class="nav">
        <ul>
          <li><a href="./index">首页</a></li>
          <li><a href="./channel">频道页</a></li>
          <li><a href="./chapter">章节页</a></li>
          <li><a href="./detail">详情页</a></li>
          <li><a href="./top">排行榜单</a></li>
          <li><a href="./all">全部小说</a></li>
        </ul>
      </div>
      <!--主导航条（公共部分）-->
      
      <div class="content_read">
        <div class="box_con">
          <div class="con_top">
            <script>
              textselect();
            </script>
            <a href="/">顶点小说 </a>
            &gt; [[${novel.type}]] &gt;
            <a th:href="@{/chapter(novelId=${novel.id})}" th:text="${novel.name}">十三印</a>
            &gt; [[${detail.title}]]
          </div>
          <div class="bookname">
            <h1 th:text="${detail.title}">第一章 青梅竹马</h1>
            <div class="bottem1">
              <a th:href="@{/detail(chapterId=${detail.prevId})}">上一章</a>
              &larr;
              <a th:href="@{/chapter(novelId=${novel.id})}">章节目录</a>
              &rarr;
              <a th:href="@{/detail(chapterId=${detail.nextId})}">下一章</a>
            </div>
            <!--热门推荐 begin-->
            <div id="lm">
              &nbsp;热门推荐：
              <a th:each="hot : ${hots}" th:text="${hot.name}" th:href="@{/chapter(novelId=${hot.id})}" style="margin-right: 3px"></a>
            </div>
            <!--热门推荐 end-->
          </div>
          <table style="width:100%; text-align:center;">
            <tr>
              <td>
                <script>
                  read_1_1();
                </script>
              </td>
              <td>
                <script>
                  read_1_2();
                </script>
              </td>
              <td>
                <script>
                  read_1_3();
                </script>
              </td>
            </tr>
          </table>
          <div id="content" th:utext="${detail.content}">
          </div>
          <script>
            read3();
          </script>
          <script>
            bdshare();
          </script>
          <div class="bottem2">
            <!-- <a href="#">投推荐票</a> -->
            <a th:href="@{/detail(chapterId=${detail.prevId})}">上一章</a>
            &larr;
            <a th:href="@{/chapter(novelId=${novel.id})}">章节目录</a>
            &rarr;
            <a th:href="@{/detail(chapterId=${detail.nextId})}">下一章</a>
            <!-- <a href="#">加入书签</a> -->
          </div>
          <script>
            read4();
          </script>
          <div id="hm_t_20123"></div>
        </div>
      </div>
      <div class="footer">
        <div class="footer_link">
          &nbsp;新书推荐：
          <a th:each="nw : ${news}" th:text="${nw.name}" th:href="@{/chapter(novelId=${nw.id})}" style="margin-right: 3px"></a>
        </div>
        <div class="footer_cont">
          <script>
            footer();
            right();
            dl();
          </script>
          <!--<script>mark();</script>-->
          <!-- <div class="reader_mark1">
            <a href="#">
            </a>
          </div>
          <div class="reader_mark0">
            <a href="#">
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>