<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
  <head>
    <title>xxx小说_xxx小说网</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="xxx小说,xxx小说网" />
    <meta name="description" content="xxx小说致力于打造无广告无弹窗的在线小说阅读网站，提供小说在线阅读，小说TXT下载，网站没有弹窗广告页面简洁。" />
    <link rel="stylesheet" type="text/css" href="./common/app.css" />
    <script type="text/javascript" src="./common/jquery.min.js"></script>
    <script type="text/javascript" src="./common/app.js"></script>
  </head>
  
  <body>
    <div id="wrapper">
      <!--Logo+搜索（公共部分）-->
      <div class="header">
        <div class="header_logo">
          <a href="#">xxx小说</a>
        </div>
        <script>bqg_panel();</script>
      </div>
      <!--Logo+搜索（公共部分）-->
      
      <!--主导航条（公共部分）-->
      <div class="nav">
        <ul>
          <li><a href="./index">首页</a></li>
          <li><a href="./channel">频道页</a></li>
          <li><a href="./chapter">章节页</a></li>
          <li><a href="./detail">详情页</a></li>
          <li><a href="./top">排行榜单</a></li>
          <li><a href="./all">全部小说</a></li>
        </ul>
      </div>
      <!--主导航条（公共部分）-->
      
      <div class="content_read">
        <div class="box_con">
          <div class="con_top">
            <script>
              textselect();
            </script>
            <a href="#">顶点小说 </a>
            &gt; 玄幻小说 &gt;
            <a href="#">十三印</a>
            &gt; 第一章 青梅竹马
          </div>
          <div class="bookname">
            <h1>第一章 青梅竹马</h1>
            <div class="bottem1">
              <a href="#">上一章</a>
              &larr;
              <a href="#">章节目录</a>
              &rarr;
              <a href="#">下一章</a>
            </div>
            <!--热门推荐 begin-->
            <div id="lm">
              &nbsp;热门推荐：
              <a href="#">圣墟</a>
              <a href='#' style="font-weight:bold">龙王传说</a>
              <a href="#">三寸人间</a>
              <a href="#">天下第九</a>
              <a href='#' style="font-weight:bold">飞剑问道</a>
              <a href="#">我是至尊</a>
              <a href='#' style="font-weight:bold">凡人修仙之仙界篇</a>
              <a href="#">元尊</a>
              <a href="#">大道朝天</a>
              <a href='#' style="font-weight:bold">大龟甲师</a>
            </div>
            <!--热门推荐 end-->
          </div>
          <table style="width:100%; text-align:center;">
            <tr>
              <td>
                <script>
                  read_1_1();
                </script>
              </td>
              <td>
                <script>
                  read_1_2();
                </script>
              </td>
              <td>
                <script>
                  read_1_3();
                </script>
              </td>
            </tr>
          </table>
          <div id="content">
            &nbsp;&nbsp;&nbsp;&nbsp;硝烟弥漫！种族之间相互争斗已经持续了数千年时间。一千年以前称为远古时期，那时整个大陆均为人族管辖，但在人族麾下的魔、神、魂三族相继离开后，人族管辖的大陆慢慢开始四分五裂，人们开始为自己命名新的种族名称。比较具有代表性的有九个种族，分别为：神、岩、魔、翼、精灵、兽、水、人、魂！其中魂族实力最为强大，直到三百年前这个种族突然消失，从大陆分裂至魂族消失称为上古时期，上古时期时长七百年，在魂族消失之后，岩族首领十分机灵，顺势抢下了魂族的地盘，一跃成为大陆之上占地面积最大的种族。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;在魂族消失后，不仅局势变得越来越复杂，人们也发现自己能慢慢操作一股神秘的力量，此力量灵性无比又十分华丽，人们便称它为灵力法术，大陆也正式命名为灵力大陆。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;有了这股力量的加持众人变得更加弱肉强食，在这个世界中大家对力量越来越痴迷，久而久之人们早已忘记了对与错，强者自为正义、强者便是法律，要想赢得他人的尊重便只在灵力大陆上不断修炼，达到顶峰的那个人不管做什么都是对的，败者及败者的后代没有资格对其评头论足！神帝.不败王者.修拉便是那个站在顶峰的男人，他傲视着这灵力大陆，九族之中最强的男人，他不管做什么都是对的，包括十八年前在现在的兽族地界爆发的神魔大战！
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;要成为这个世界的强者灵力的修为是必不可少的，灵力修为分为十五个境界依次为：化灵、识灵、炼灵、灵动、灵游、大灵境、灵王、灵皇、灵宗、灵魂、灵尊、圣灵、破灵、轮回境、灵帝当灵力修炼开始时，聚集灵力于全身便呈现灵力颜色，灵力颜色辨明实力依次是白.黄.红.紫.黑。白色的境界为：化灵、识灵、炼灵；黄色的境界为：灵动、灵游、大灵境；红色的境界为：灵王、灵皇；紫色的境界为：灵宗、灵魂、灵尊、圣灵；黑色的境界为、破灵、轮回境、灵帝。每个境界分为十段，满段之后继续修炼便可突破。不过自从一百年前一场涉及整个灵力大陆所有种族的乱斗结束之后，一些站在金字塔顶端的人发现众人的实力都越来越强足以毁灭生存的坏境，无奈之下当时有那么十三位拥有特别印记的奇人以生命为代价为灵力大陆布下修炼突破结界来限制众人的实力，之后达到紫色灵力的人数便寥寥无几。在此之前他们还将实力达到灵魂境界以上的人尽数击杀，就连实力高于灵宗的猛兽都尽数封印，不仅如此他们还将自己研发的顶阶法术都给摧毁了，他们这样不惜一切代价为的就是保护他们赖以生存的环境。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;法术除去顶阶现在只分为：初阶、中阶、高阶，每个阶段分：低级、中级、高级；初阶低级和初阶中级法术算是比较常见的，但等初阶高级的法术就不多见了，像是中阶法术一般都是长老与名将代代相传，像高阶的法术都是皇室御用，只传给资历最好的后代，高阶法术可谓稀有中的稀有！虽说灵力修为至关重要，但是对于每个种族之间的属性特性也是不容小觑的，就拿魔族举个例子他们的法术属性是火，不仅如此他们还有着让人匪夷所思的恢复能力。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;像十八年前的神魔大战，魔帝陆风葬送右臂之后利用恢复能力极致境界再生之力，右臂居然又重新长了出来，恐怕在这灵力大陆能做到这一点的也是只有魔帝陆风一人了！
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;而陆蕊的儿子陆离虽然不能修炼灵力，但也对锤炼自己的体魄有着浓厚的兴趣。就在此时陆离正与自己的义父药师炎傅在百草阁修炼着。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“哈！吃我一记火力全开的重拳”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;炎傅摇头叹气本想让陆离好好学习医理的，但这孩子完全不是这块料，成天想着舞刀弄枪。炎傅只是轻微的让白色灵力附着全身，陆离的拳打在他身上就如同清风拂过一般！
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“义父！虽说我不能修炼灵力，但我只要足够灵活、基本功足够扎实，别人也休想伤我半分，持久战我一定能取胜！”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;开朗的陆离转眼间也十七岁了一身黑色上衣穿在他身上显得格外秀气，腰间别着刻有魔族族徽的玉牌，这是他的母亲留给他唯一的东西。略带风雨打磨且依旧白皙的皮肤，浓密的眉毛微微的向上扬起，长而微卷的睫毛下有一双如老者般深邃的眼眸，嘴角则微微上扬时略带那么一丝痞气！
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“哈哈哈！！小陆离啊那你岂不是还想和我打几个时辰？”说罢扔向陆离一柄宝剑“小陆离啊~你还是用你的剑法与我一战吧，近身格斗对于没有灵力修为的人而言实在不是什么对策啊，不过你自己摸索的剑法我倒是觉得有点意思！”陆离年仅八岁时就靠着自己摸索的剑术击退了三个能刚修炼灵力的大孩子（十二岁才能修炼灵力），那时也在魔域掀起了轩然大波，不过随着时间的推移对于不能修炼的陆离而言越来越不友善，与小伙伴的差距越来越大，在同辈中他早已赶不上那些佼佼者的脚步了。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;炎傅现在也对他无欲无求只希望他能快快乐乐的长大就行了
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“几个时辰?我可要和你分出胜负才肯罢休呢！”陆离双手一插傲娇的别过头去
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“哈哈哈”躲在旁边观战的炎嫣忍不住的笑出了声，陆离脸一红默不作声。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;炎嫣是炎傅的女儿小陆离一岁，从小特别照顾这个不能修炼灵力的小哥哥，陆离从记事起就很喜欢她，但因为自己身体的特殊怕高攀了嫣儿迟迟不敢表达心意。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;现在的炎嫣更是出落的亭亭玉立，乌黑的头发散落在肩后肤如凝脂的脸蛋嫩的仿佛能掐出水来。一身红色紧身的小上衣丰满的上围显得更加傲人，下身则是一条流苏短裙露出一双细长的大腿更是让人想入非非，手上戴着一对毫无图案装饰的银色手镯朴素且大方。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“陆离哥哥你脸红什么呀，你也知道父亲只要稍微认真一点点一个回合就能把你打倒？”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;陆离的脸更红了有气无力的说到
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“这次和上次不一样了我.我...我一定能赢..”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“噗...”炎嫣笑着跑到父亲旁使劲的摇着父亲的手“爹爹~爹爹~我能不能陪陆离哥哥练一会啊！我保证不用全力，你去忙你的事吧！”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;炎傅对这个女儿也是没办法无奈的陆离说到：“罢了罢了，今日便让嫣儿陪你练吧，你同嫣儿训练就不必用剑了，我可不想见你们刀刃相见即便是玩耍也不行！你就趁这个机会练练近身格斗吧。”嫣儿虽说不爱修炼，但是她天资聪颖断断续续的修炼修为也达到了识灵四段，在同龄中也算中等水平了。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“好了，你们慢慢练吧，我先去炼药房修炼丹药了，记住点到为止啊~”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“谢谢爹爹！”说罢炎傅便转身离去
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;只见炎嫣在炎傅离开的一瞬间便一跃而起直接朝着陆离就是一记飞腿，裙底风光尽收陆离眼底，陆离害羞的低下头去，这一分心让这记飞腿直接命中陆离的胸膛。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“大色狼！谁让你这么不专心！”陆离心想我有专心啊~我有专心的看！
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“咳咳！这个不算...我没准备好”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;说完便冲到炎嫣跟前想一个肘击命中炎嫣脖子让她丧失战斗能力，谁知炎嫣不慌不忙将白色灵力注入手掌捏住的陆离的肘部，陆离疼的直打哆嗦另一只手本能的左右乱挥不巧碰到了炎嫣的酥胸！炎嫣脸一红松了手转过头去娇羞道：“你这个小色狼！再也不和你比试了我要去找爹爹了！”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;说完便跑向书房，陆离紧跟在后大喊道：“我错了~我不是故意的~嫣儿妹妹你等等我啊！”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;两人几乎同时到达书房，炎傅见两人气喘吁吁调趣说道：“谁赢啦？”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;两人脸一红嫣儿道：“当然我赢啦！再也不能他比试了！哼~”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;陆离愧疚的说到：“我不是故意的，不知为什么和嫣儿妹妹较量集中不了精神，对不起对不起，下不为例下不为例。”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;嫣儿小脸一扭道：“罢了罢了，你以后要是再这样我就不理你了。”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;炎傅笑道：“嫣儿你年纪也不小了，是该好好修炼灵力了，陆离和同龄人相比实力越来越弱，到时候可要你好好保护他啊！”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿嘿，船到桥头自然直。”嫣儿漫不经心的回答。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;而陆离则羞愧的低下头“是离儿没用，让义父操心了，我一定会更加努力的，尽力不成为义父与嫣儿的累赘！”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;“傻孩子，你怎么会是我的累赘呢？你同嫣儿一样是我最亲的亲人，为父只是担心你日后过的不好罢了！你可千万别多想啊~！”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;炎傅话音刚落嫣儿就拉着陆离道：“好啦~爹爹你不要啰嗦了，今天陆离哥哥可答应陪我去集市呢，再不去就要赶不上赶集了~哼~”说罢便拉着陆离离开百草阁。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;看着两人渐行渐远的身影炎傅无奈的摇头道：“哎~不知嫣儿这个孩子什么时候才能长大。”
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;在魔域主要分为五大板块，最核心的中间区域便是魔帝与他三个儿子镇守的玄金宫，玄金宫周遭三座城池分别由魔帝的三位儿子镇守；在魔帝管辖区域以西为乱葬岗，乱葬岗周遭四座城池呈菱形之势镇守着乱葬岗；以东则是岩峰，岩峰人烟稀少只有个别贫穷百姓居住；以北是一片巨大的原始森林同样人烟稀少；以南有两座城池一座便是陆离居住的百草阁，由炎傅镇守，另一座则是由魔族三大长老之首陆贵镇守的亡灵都。而陆离与嫣儿要去的集市就在百草阁及亡灵都的中间地带。
            <br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;这集市地界多年以来一直是陆贵与炎傅的纠纷地界，谁也说不好这是谁的，不过话虽如此，但这集市的大多有名望的商铺都是亡灵都子民所开设，而百草阁子民也几乎都是东一榔头西一棒子的无名小贩。从人们的潜意识中也认定了这集市是陆贵所有，时至今日百草阁子民要想在这讨生活已经十分艰难了。
          </div>
          <script>
            read3();
          </script>
          <script>
            bdshare();
          </script>
          <div class="bottem2">
            <!-- <a href="#">投推荐票</a> -->
            <a href="#">上一章</a>
            &larr;
            <a href="#">章节目录</a>
            &rarr;
            <a href="#">下一章</a>
            <!-- <a href="#">加入书签</a> -->
          </div>
          <script>
            read4();
          </script>
          <div id="hm_t_20123"></div>
        </div>
      </div>
      <div class="footer">
        <div class="footer_link">
          &nbsp;新书推荐：
          <a href="#">圣墟</a>
          <a href='#' style="font-weight:bold">龙王传说</a>
          <a href="#">三寸人间</a>
          <a href="#">天下第九</a>
          <a href='#' style="font-weight:bold">飞剑问道</a>
          <a href="#">我是至尊</a>
          <a href='#' style="font-weight:bold">凡人修仙之仙界篇</a>
          <a href="#">元尊</a>
          <a href="#">大道朝天</a>
          <a href='#' style="font-weight:bold">大龟甲师</a>
        </div>
        <div class="footer_cont">
          <script>
            footer();
            right();
            dl();
          </script>
          <!--<script>mark();</script>-->
          <!-- <div class="reader_mark1">
            <a href="#">
            </a>
          </div>
          <div class="reader_mark0">
            <a href="#">
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>